{% extends 'modal/_base.html.twig' %}

{% block title %}{{ 'edit_image.title'|trans }}{% endblock %}

{% block before_modal %}{{ form_start(form, {'action': app.request.requesturi, 'attr': {'data-controller': 'image-upload'}}) }}{% endblock %}
{% block modal_body %}
<ul class="steps has-content-centered">
  <li class="steps-segment" data-image-upload-target="stepMarker">
    <span class="steps-marker"></span>
    <div class="steps-content is-size-4">{{ 'edit_image.select_image'|trans }}</div>
  </li>
  <li class="steps-segment" data-image-upload-target="stepMarker">
    <span class="steps-marker"></span>
    <div class="steps-content is-size-4">{{ 'edit_image.crop'|trans }}</div>
  </li>
  <li class="steps-segment" data-image-upload-target="stepMarker">
    <span class="steps-marker"></span>
    <div class="steps-content is-size-4">{{ 'edit_image.upload'|trans }}</div>
  </li>
</ul>
<div data-image-upload-target="stepStage">
  {{ form_widget(form.dropzone) }}
  <div data-image-upload-target="notAnImage">
    {{ 'edit_image.not_an_image'|trans }}
  </div>
</div>
<div data-image-upload-target="stepStage">
  <img id="cropper" data-image-upload-target="cropper" style="display: block; max-width: 100%; max-height: 400px" {# TODO #}>
</div>
{% endblock %}
{% block modal_footer %}{% endblock %}
{% block after_modal %}{{ form_end(form) }}{% endblock %}
