{% extends 'modal/_base.html.twig' %}

{% block title %}{{ 'modal.edit.title'|trans({'subject': subject|trans}) }}{% endblock %}

{% block before_modal %}{{ form_start(form, {'action': app.request.requesturi}) }}{% endblock %}
{% block modal_body %} {{ form_widget(form) }}{% endblock %}
{% block modal_footer %}
<button class="button is-success" type="submit">{% trans %}modal.edit.edit{% endtrans %}</button>
{% if pre_delete_path %}
<button class="button is-danger" formaction="{{ pre_delete_path }}">{% trans %}modal.delete.delete{% endtrans %}</button>
{% endif %}
{% for label, link in extra_buttons %}
<a href="{{ link }}" class="button is-link">{{ label|trans }}</a>
{% endfor %}
{% endblock %}
{% block after_modal %}{{ form_end(form) }}{% endblock %}
