{% extends 'modal/_base.html.twig' %}

{% block title %}{{ 'edit_image.title'|trans }}{% endblock %}

{% block before_modal %}
{{ form_start(form, {
  'action': app.request.requesturi,
  'attr': {'data-controller': 'image-upload', 'data-image-upload-back-url-value': back_url}
})}}
{% endblock %}
{% block modal_body %}
<ul class="steps has-content-centered">
  <li class="steps-segment" data-image-upload-target="stepMarker">
    <span class="steps-marker"></span>
    <div class="steps-content is-size-4">{{ 'edit_image.select_image'|trans }}</div>
  </li>
  <li class="steps-segment" data-image-upload-target="stepMarker">
    <span class="steps-marker"></span>
    <div class="steps-content is-size-4">{{ 'edit_image.crop'|trans }}</div>
  </li>
  <li class="steps-segment" data-image-upload-target="stepMarker">
    <span class="steps-marker"></span>
    <div class="steps-content is-size-4">{{ 'edit_image.upload'|trans }}</div>
  </li>
</ul>
<div data-image-upload-target="stepStage">
  {{ form_widget(form.image, {'attr': {
    'data-image-upload-target': 'image',
    'placeholder': 'TODO',
  }}) }}
  <div data-image-upload-target="notAnImage">
    {{ 'edit_image.not_an_image'|trans }}
  </div>
</div>
<div data-image-upload-target="stepStage">
  <img id="cropper" data-image-upload-target="cropper" style="display: block; max-width: 100%; max-height: 400px" {# TODO #}>
</div>
<div data-image-upload-target="stepStage">
  <progress class="progress is-large is-primary" max="100"></progress>
</div>
{{ form_rest(form) }}
{% endblock %}
{% block modal_footer %}
<div class="level" style="width: 100%" {# TODO #}>
  <div class="level-left">
    <div class="level-item">
      <button
        type="button"
        class="button is-warning"
        data-image-upload-target="back"
        data-action="image-upload#goBack"
      >{{ 'modal.back'|trans }}</button>
    </div>
  </div>
  <div class="level-right">
    <div class="level-item">
      <button
        type="button"
        class="button is-success"
        data-image-upload-target="upload"
        data-action="image-upload#uploadCrop"
      >{{ 'edit_image.upload'|trans }}</button>
    </div>
  </div>
</div>
{% endblock %}
{% block after_modal %}{{ form_end(form) }}{% endblock %}
