{%- import "books/_macros.html.twig" as macros -%}
<div id="{{ macros.card_html_id(bookOwnership.book.id) }}" class="column is-3" style="height: 100%" {#TODO#}>
  <div class="card">
    <div id="{{ macros.content_html_id(bookOwnership.book.id) }}">{{ include('books/card_content.html.twig') }}</div>
    <footer class="card-footer">
      <form action="{{ path('book_library_edit', {id: bookOwnership.book.id}) }}" data-turbo-frame="app-modal" class="card-footer-item">
        <button class="button is-link" type="submit" title="{{ 'book_library.edit'|trans }}">
          <span class="icon">
            <iconify-icon icon="mdi:book-edit"></iconify-icon>
          </span>
        </button>
      </form>
    {% if bookOwnership.idOrNull %}
      <form action="{{ path('books_edit', {id: bookOwnership.id}) }}" data-turbo-frame="app-modal" class="card-footer-item">
        <button class="button is-link" type="submit" title="{{ 'books.edit'|trans }}">
          <span class="icon">
            <iconify-icon icon="mdi:library-edit"></iconify-icon>
          </span>
        </button>
      </form>
    {% else %}
      <form action="{{ path('books_new', {bookid: bookOwnership.book.id, ownerid: bookOwnership.owner ? bookOwnership.owner.id : null}) }}" data-turbo-frame="app-modal" class="card-footer-item">
        <button class="button is-primary" type="submit" title="{{ 'books.new'|trans }}">
          <span class="icon">
            <iconify-icon icon="mdi:library-add"></iconify-icon>
          </span>
        </button>
      </form>
    {% endif %}
    </footer>
  </div>
</div>
