<div id="{{ htmlId }}" class="panel-block">
  <div class="column py-0">
    {{ component('user:username', {'user': this.user}) }}
  </div>
  <div class="column is-narrow py-0">
    {% if not relationship.active %}{% trans %}relationships.pending{% endtrans %} - {% endif %}
    {{ relationship.capability | trans }}
  </div>
  <div class="column is-narrow py-0">
  {% block left_button %}
    <div style="width: 2.5em"></div>
  {% endblock %}
  </div>
  <form class="column is-narrow py-0" action="{{ path('relationships_pre_delete', {'id': relationship.id}) }}" data-turbo-frame="app-modal">
    <button class="button is-danger" type="submit" title="{{ 'relationships.delete'|trans|e('html_attr') }}">
      <span class="icon">
        <iconify-icon icon="mdi:delete"></iconify-icon>
      </span>
    </button>
  </form>
</div>
