<div id="{{ htmlId }}" class="panel-block">
  <div class="column py-0">
    {{ component('user:username', {'user': this.user}) }}
  </div>
  <div class="column is-narrow py-0">
    {% if not relationship.active %}{% trans %}relationships.pending{% endtrans %} - {% endif %}
    {{ relationship.capability | trans }}
  </div>
  <div class="column is-narrow py-0">
  {% block left_button %}
    <div style="width: 2.5em"></div>
  {% endblock %}
  </div>
  {%- embed "modal/_delete_button.html.twig" with {
    id: relationship.id,
    delete_path: path('relationships_delete', {'id': relationship.id}),
  } -%}
    {%- block delete_button_attr -%}{{ parent() }} title="{{ 'relationships.delete'|trans|e('html_attr') }}"{%- endblock -%}
    {%- block delete_button_contents -%}
      <span class="icon">
        <iconify-icon icon="mdi:delete"></iconify-icon>
      </span>
    {%- endblock -%}
  {%- endembed -%}
</div>
