<turbo-frame id="simplewebapps-navbar-{{ ulid }}">
  <nav class="navbar is-fixed-top">
    <div class="navbar-brand is-hoverable">
      <a class="navbar-item" href="{{ path('index') }}">{% trans %}SimpleWebApps{% endtrans %}</a>
    </div>
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
    {# TODO #}
    {# <div {{ stimulus_controller('stream') }}
      data-mercure-url="{{ mercure('user_' ~ ulid, {'subscribe': 'user_' ~ ulid}) }}"
    ></div> #}
    <div class="navbar-end">
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          <span id="simplewebapps-username-{{ ulid }}">
            {{ app.user.username }}
          </span>
        </a>
        <div class="navbar-dropdown is-right">
          <a class="navbar-item" href="{{ path('auth_profile') }}">{% trans %}profile.title{% endtrans %}</a>
          <a class="navbar-item" href="{{ path('relationships_index') }}">{% trans %}relationships.title{% endtrans %}</a>
          <hr class="navbar-divider">
          <a class="navbar-item" href="{{ path('app_logout') }}">{% trans %}auth.logout{% endtrans %}</a>
        </div>
      </div>
    </div>
    {% endif %}
  </nav>
</turbo-frame>
