<turbo-frame id="simplewebapps-navbar-{{ ulid }}">
  <nav class="navbar is-fixed-top">
    <div class="navbar-brand is-hoverable">
      <a class="navbar-item" href="{{ path('index') }}">{% trans %}SimpleWebApps{% endtrans %}</a>
    </div>
    {% if ulid %}
    <div class="navbar-menu">
      <div id="simplewebapps-stream" {{ stimulus_controller('stream') }}
        data-stream-event-source-url-value="{{ path('events', {'topics': '{{topics}}'}) }}"
      ></div>
      <div class="navbar-start"></div>
      <div class="navbar-end">
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            {%- include "user/_username.html.twig" with {user: app.user.user} -%}
          </a>
          <div class="navbar-dropdown is-right">
            <a class="navbar-item" href="{{ path('auth_profile') }}">{% trans %}profile.title{% endtrans %}</a>
            <a class="navbar-item" href="{{ path('relationships_index') }}">{% trans %}relationships.title{% endtrans %}</a>
            <hr class="navbar-divider">
            <a class="navbar-item" href="{{ path('app_logout') }}">{% trans %}auth.logout{% endtrans %}</a>
          </div>
        </div>
      </div>
    </div>
    {% endif %}
  </nav>
</turbo-frame>
