{% extends '_reusable/base.html.twig' %}

{% block title %}{% trans %}weight_tracker.title{% endtrans %}{% endblock %}
{% block topics %}weight_tracker{% endblock %}

{% block body %}
<div class="container">
  <div class="columns">
    <div class="column">
      <h1 class="title">{{ block('title') }}</h1>
    </div>
    <div class="column is-narrow">
      <form action="{{ path('weight_tracker_new') }}" data-turbo-frame="app-modal">
        <button class="button is-primary" type="submit">
          <span class="icon">
            <iconify-icon icon="mdi:plus-circle"></iconify-icon>
          </span>
          <span>{% trans %}weight_tracker.add_point{% endtrans %}</span>
        </button>
      </form>
    </div>
  </div>
  <div {{ stimulus_controller('weight_tracker') }}
    data-weight-tracker-stream-outlet="#simplewebapps-stream"
    data-weight-tracker-point-click-path-value="{{ path('weight_tracker_edit', {id: '{{id}}'})|e('html_attr') }}"
  >
    <canvas data-weight-tracker-target="chart"></canvas>
  </div>
</div>
{% endblock %}
