<div {{ attributes }}>
  <div>
    <span class="is-size-5">{{ 'books.filter1' | trans }}</span>
    <span class="select">
      <select
        data-model="currentUser"
        data-action="live#action"
        data-action-name="refresh"
      >
      {% for user in users %}
        <option
          value="{{ user.id }}"
          {% if user == currentUser %}selected{% endif %}
        >{{ user.username }}</option>
      {% endfor %}
      </select>
    </span>
    <span class="is-size-5">{{ 'books.filter2' | trans }}</span>
    <span class="select">
      <select
        data-model="viewFilter"
        data-action="live#action"
        data-action-name="refresh"
      >
      {% for vf in allViewFilters %}
        <option
          value="{{ vf.value }}"
          {% if vf == viewFilter %}selected{% endif %}
        >{{ vf|trans }}</option>
      {% endfor %}
      </select>
    </span>
  </div>
  <div class="columns is-multiline {{ this.listClasses|join(' ') }}" data-live-id="book-list-{{ random() }}">
  {% for bookOwnership in bookOwnerships %}
    {% include "books/_card/private_card.html.twig" %}
  {% endfor %}
  {% for book in publicBooks %}
    {% include "books/_card/public_card.html.twig" %}
  {% endfor %}
  </div>
  {# TODO hack #}
  <form method="POST" id="booksNewForm" data-turbo-frame="app-modal">
    <input type="hidden" name="ownerid" value="{{ currentUser.id }}">
  </form>
</div>
