<div {{ attributes }}>
  <div>
    <span class="is-size-5">{{ 'books.filter1' | trans }}</span>
    <span class="select">
      <select
        data-model="currentUser"
        data-action="live#action"
        data-action-name="refresh"
      >
      {% for user in users %}
        <option
          value="{{ user.id }}"
          {% if user == currentUser %}selected{% endif %}
        >{{ user.username }}</option>
      {% endfor %}
      </select>
    </span>
    <span class="is-size-5">{{ 'books.filter2' | trans }}</span>
    <span class="select">
      <select
        data-model="viewFilter"
        data-action="live#action"
        data-action-name="refresh"
      >
      {% for vf in this.viewFilters %}
        <option
          value="{{ vf.value }}"
          {% if vf == viewFilter %}selected{% endif %}
        >{{ vf|trans }}</option>
      {% endfor %}
      </select>
    </span>
  </div>
  <div class="columns is-multiline {{ this.listClasses|join(' ') }}">
  {% for bookOwnership in bookOwnerships %}
    {{ component('book:card', {bookOwnership: bookOwnership}) }}
  {% endfor %}
  </div>
</div>
