{% extends 'auth/_base.html.twig' %}

{% block form %}
<form action="{{ checkPathUrl ? checkPathUrl: path(checkPathRoute) }}" method="post">
  <div class="field">
    <label class="label">{{ "auth_code"|trans({}, 'SchebTwoFactorBundle') }}</label>
    <div class="control">
      <input
        class="input"
        type="text"
        name="{{ authCodeParameterName }}"
        autocomplete="off"
        autofocus
        inputmode="numeric"
        pattern="[0-9]*"
      >
    </div>
  {% if authenticationError %}
    <p class="help is-danger">{{ authenticationError|trans(authenticationErrorData, 'SchebTwoFactorBundle') }}</p>
  {% endif %}
  </div>
{% if isCsrfProtectionEnabled %}
  <input type="hidden" name="{{ csrfParameterName }}" value="{{ csrf_token(csrfTokenId) }}">
{% endif %}
  <div class="field is-grouped is-grouped-centered">
    <div class="control">
      <button class="button is-success" type="submit">{{ 'auth.login'|trans }}</button>
    </div>
    <div class="control">
      <a class="button is-warning" href="{{ logoutPath }}">{{ "cancel"|trans({}, 'SchebTwoFactorBundle') }}</a>
    </div>
  </div>
</form>
{% endblock %}
